@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core
@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions
@inject IPublishedValueFallback PublishedValueFallback
@inject IPublishedUrlProvider PublishedUrlProvider


@{ 
    var site = Model.Root();
    var selection = Model.Root().Children.Where(x => x.IsVisible(PublishedValueFallback)).ToArray(); 
}




<!-- Header Section -->
    <header>
        <div class="container">
            <a href="/"><img src="~/Images/logotype.svg" alt="Crito Logo"/></a>
            <button class="menu-bars"><i class="fa-solid fa-bars"></i></button>
            <div class="top-menu">
                <div class="contact-info">
                    <div class="contact">
                        <div><i class="fa fa-light fa-phone-volume"></i>  +46 (8) 121 470 50</div>
                        <div><i class="fa-regular fa-envelope"></i>  info@crito.com</div>
                        <div id="last"><i class="fa fa-sharp fa-light fa-location-dot"></i> Sveavägen 31, 111 34 STOCKHOLM</div>
                    </div>
                    <div class="social-media">
                        <a href="http://facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                        <a href="http://twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                        <a href="http://instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                        <a href="http://linkedin.com/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="menu">
                    <nav class="menu-items">
                        <a class="@(Model.Id == site.Id ? "active" : null)" href="@site.Url()">@site.Name</a>
                        
                        @if (selection?.Length > 0)
                        {
                            @foreach (var item in selection)
                            {
                                <a class="@(item.IsAncestorOrSelf(Model) ? "active" : null)" href="@item.Url(PublishedUrlProvider)">@item.Name</a>
                            }
                        }
                    </nav>
                    <a class="yellow-btn" href="/login">Login <i class="fa-light fa-arrow-up-right"></i></a>
                      
                </div>
            </div>
        </div>       
    </header>