@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.ReviewsPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.PublishedContent;
@{
	Layout = "LayoutWithBreadcrumb.cshtml";
}



@{
	var selection = Umbraco.Content(Guid.Parse("c25e8623-c5c9-470c-905b-150c6bc1112e"))
    .ChildrenOfType("reviewPage")
    .Where(x => x.IsVisible());
}

<!-- Reviews Section -->
    <section class="reviews-section">
        <div class="container">
            <h2>Clients Reviews</h2>
            <div class="clients-reviews">
        	    @foreach (var item in selection)
        	    {
                    var image = item.Value<IPublishedContent>("clientImage");
                    var stars = (int)@item.Value("numberOfStars");
                    

        			<a class="client-review-card" href="@item.Url()" >
                        <img src="@image?.Url()" alt="@item.Value("clientName")" >
                        <div class="review">
                            <div class="evaluation">
                                @for (int i = 1; i<= @stars; i++)
                                {
                                    <i class="fa-solid fa-star"></i>
                                }
                            </div>
                            <div class="client-review">
                                <p>"@item.Value("clientComment")"</p>
                            </div>
                            <div class="client-info">
                                <h4>@item.Value("clientName")</h4>
                                <p>@item.Value("clientPosition"), @item.Value("clientCompany")</p>
                            </div>
                        </div>
                    </a>
                }
            </div>
        </div>
    </section>

